<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/add-to-cart.css">

</head>

<body>

    <div class="container">
        <div class="nav">
            <h2>E-cart.com</h2>
        </div>

        <div class="expansion">
            <div class="product-area">


                <img src="" alt="">
                <form action="/signup" method="post">


                    <div class="form-set"> <label for="name">Name:</label>
                        <input type="text" class="inp" name="name" id="name">
                    </div>

                    <div class="form-set"><label for="price">Price:</label>
                        <input type="text" class="inp" name="price" id="price">
                    </div>

                    <div class="form-set"> <label for="color">Color:</label>
                        <input type="text" class="inp" name="color" id="color">
                    </div>


            </div>
        </div>
    </div>



</body>

</html>