<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>

    <div class="container">

    <div class="form-area">
        
    <form action="/user/login" method="post">
          <label for="">E mail</label>
                <input type="email" class="inp" name="email">

                <label for="">password</label>

                    <input type="password" class="inp" name="password">

                    <a href="/user/signup">Do not have an account, Register now</a>
                <div class="btn-area">
                    <button type="submit">Submit</button>
                </div>


    </form>

</div>

</div>
</body>
</html>