.container{
    width: 1535px;
    height: 100vh;
   
}

.nav{
    position: relative;
    height: 15%;
    width: 100%;
    background: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav h2{
    color:  #d9dcdd;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    position: absolute;
    right: 2rem;
    padding: 1rem;
    color: white;
    background-color: orange;
    border-radius: .4rem;
    border: none;
    outline: none;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.284);
    font-weight: bold;
}


.expansion{
    width: 100%;
    height: auto;
    background: lightgreen;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}



.product-area{
    margin-left: 30px;
    width: 18%;
    height: 350px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    background: white;
    justify-content: center;
    border-radius: 8px; 
    
}

.product-area img{
width: 60%;
height: 40%;

}


    /* form{
        display: flex;
        flex-direction: column;
        gap: 20px;

        box-sizing: border-box;
        
       
    }

    
    .inp{
        width: 100px;
        height: 20px;
        border-radius: 5px;
        outline: none;
        border: 1px solid white;
        background: transparent;
        padding-left: 10px;
        color: black;
        pointer-events: none;
       
    }

    .form-set{
       height: 12px;
       font-weight: bold;
    } */


    .button-area{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

   


    .head{
        font-size: 13px;
        font-weight: bold;
        margin-right: 120px;
    }

    #edit{
        width: 30%;
        height: 30px;
        background: rgb(18, 182, 18);
        border-radius: 5px;
        border: none;
        color: white;
    }

    #delete{
        width: 30%;
        height: 30px;
        background: #ff0000;
        border-radius: 5px;
        border: none;
        color: white;
    }