.nav{
    height: 15%;
    width: 100%;
    background: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 570px; */
}

.nav-left{
    width: 40%;
    display: flex;
    justify-content: end;
}

.nav-right{
    width: 30%;
    display: flex;
    justify-content: end;

}


.nav-left h2{
    color:  #d9dcdd;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
   
    width: 130px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: rgb(51, 161, 51);
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}













.form-area{
    width: 50%;
    height: 70%;
    background-image: linear-gradient(to left,rgb(30, 30, 203),rgb(203, 104, 121));
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  background: #233d5d;
    flex-direction: column;
    font-size: 22px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   
}

.inp{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    background: transparent;
    padding-left: 10px;
    color: white;
    font-size: 20pz;
}

.btn-area{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-area button{
    width: 19%;
    height: 70%;
    font-size: 20px;
    border-radius: 8px;
    border: none;
   
}



.btn-area button:hover{
    background: lightcoral;
    color: white;
    cursor: pointer;
}

.expansion{
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 85%;
}