.container {
    width: 1518px;
    height: 100vh;
    background: #401791;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 85px;
}


.form-area{
    width: 50%;
    height: 85%;
    background-image: linear-gradient(to left,rgb(30, 30, 203),rgb(203, 104, 121));
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: column;
    font-size: 22px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   
}

.inp{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    background: transparent;
    padding-left: 10px;
    color: white;
    font-size: 20pz;
}

.btn-area{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-area button{
    width: 19%;
    height: 70%;
    font-size: 20px;
    border-radius: 8px;
    border: none;
   
}



.btn-area button:hover{
    background: lightcoral;
    color: white;
    cursor: pointer;
}

